/* CSS Document */
*{
margin:0;
padding:0;
}
div,a,li,ul,img{
border:0;
list-style:none;
} 
div{
flex:block;
}
a{
text-decoration:none;
outline:none;}
.contain{
background: linear-gradient(200deg,#e3c5eb,#a9c1ed);
}
.main{

height:70px;
margin:0 0;
overflow:hidden;
position:relative;
}
.title{
width:134px;
height:70px;
float:left;
padding-right:10px;
}
img{
opacity:90%;
}
.title a{
display:inline-block;
}
.content{
height:70px;
float:left;
}
.content li{
height:70px;
float:left;
margin-right:20px;
}
.content li{
font-size:14px;
display:inline-block;
line-height:17px;
vertical-align:top;
}
.content li a{
height:22px;
line-height:70px;
padding:26px 17px;
}
.content li.active{
background: linear-gradient(-200deg,#a9c1ed,#e3c5eb);
opacity:70%;
}
.content li a:hover{
background: linear-gradient(-200deg,#a9c1ed,#e3c5eb);
}
.header{
float:right;
position:relative;

}
.nav{
height:70px;

}
.nav li{
border-right:1px solid rgba(255,255,255,0.2);
float:left;
height:14px;
padding:9px 14px;
font-size:12px;
}
a{
direction:none;
cursor:pointer;
}
.skin a{
padding-left:22px;
position:relative;
}
.nav a{
height:14px;
line-height:14px;

}
.skin .img{
background:url("http://p7.qhimg.com/d/inn/774669ac/t01bc32feb0bbb5c4e0.png") no-repeat;
left:0;
position:absolute;
background-position:0 -270px;
height:15px;
top:-1px;
width:16px;
}
.nav a:hover{
text-decoration:underline;
}
.log{
position:relative;
padding-left:31px;

}
.image{
border-radius:18px;
box-shadow:0 1px 5px rgba(87,87,87,0.5);
height:20px;
left:10px;
position:relative;
top:-4px;
width:20px;
}
.a1{
margin-left:20px;
top:-8px;

position:relative;
}
.guang{
position:absolute;
width:30%;
margin-left:0px;
margin-top:0px;
height:100vh;

background:url(image/light.png);
background-size:cover;
background-position:right;
overflow:hidden;
}
.list li{
list-style:none;
position:absolute;
width:400px;
height:300px;
animation:moves 23s infinite linear;
}
.list{
position:relative;
margin-top:20px;
margin-left:32%;
display:flex;
width:400px;
height:300px;

overflow:hidden;
border-radius:10px;
cursor:pointer;
}
@keyframes moves{
0%{
transform:translateX(0px);
}6%{
transform:translateX(0px);
}11%{
transform:translateX(400px);
}22%{
transform:translateX(400px);
}44%{
transform:translateX(800px);
}55%{
transform:translateX(800px);
}66%{
transform:translateX(1200px);
}77%{
transform:translateX(1200px);
}88%{
transform:translateX(1600px);
}100%{
transform:translateX(1600px);
}
}
.list li:nth-child(1){
background:url(image/ni.png);
background-size:cover;
left:calc(-400px*4);

}
.list li:nth-child(2){
background:url(image/xin.png);
left:calc(-400px*3);
background-size:cover;
}
.list li:nth-child(3){
background:url(image/jiaocheng.png);
left:calc(-400px*2);
background-size:100%;
}
.list li:nth-child(4){
background:url(image/xin.png);
left:calc(-400px*1);
background-size:cover;
}
.list li:nth-child(5){
background:url(image/ni.png);
left:0px;
background-size:cover;
}
.zong1{
position:absolute;
top:100px;
left:60vw;
width:35vw;
height:30vh;

}
.zong1 li{

width:160px;
height:120px;
border-radius:10px;
margin:5px 10px;
cursor:pointer;
}
.feng1{
position:relative;

}
.feng1 li{
float:left;
}

.feng2{
position:relative;

}
.feng2 li{
float:left;
}
.zong2{
position:absolute;
top:480px;
left:32%;
width:65vw;
height:50vh;
}
.zong2 li{
width:160px;
height:120px;
border-radius:10px;
margin:5px 25px;
cursor:pointer;
}
.feng1 li:nth-child(1){
background:url(image/4.png);
background-size:cover;


}.feng1 li:nth-child(2){
background:url(image/2.png);
background-size:cover;

}.feng1 li:nth-child(3){
background:url(image/5.png);
background-size:cover;

}.feng2 li:nth-child(1){
background:url(image/6.png);
background-size:cover;
}.feng2 li:nth-child(2){
background:url(image/7.jpg);
background-size:cover;

}.feng2 li:nth-child(3){
background:url(image/8.jpeg);
background-size:cover;
}
.feng3{
position:relative;

}
.feng3 li{
float:left;
}
.feng4{
position:relative;

}
.feng4 li{
float:left;
}
.feng5{
position:relative;

}
.feng5 li{
float:left;
}
.feng3 li:nth-child(1){
background:url(image/9.jpeg);
background-size:cover;
}.feng3 li:nth-child(2){
background:url(image/10.jpeg);
background-size:cover;
}.feng3 li:nth-child(3){
background:url(image/11.jpeg);
background-size:cover;
}.feng3 li:nth-child(4){
background:url(image/12.jpeg);
background-size:cover;
}.feng3 li:nth-child(5){
background:url(image/13.jpeg);
background-size:cover;
}.feng4 li:nth-child(1){
background:url(image/14.jpeg);
background-size:cover;
}.feng4 li:nth-child(2){
background:url(image/15.jpeg);
background-size:cover;
}.feng4 li:nth-child(3){
background:url(image/16.jpeg);
background-size:cover;
}.feng4 li:nth-child(4){
background:url(image/17.jpeg);
background-size:cover;
}.feng4 li:nth-child(5){
background:url(image/18.jpeg);
background-size:cover;
}.feng5 li:nth-child(1){
background:url(image/19.jpeg);
background-size:cover;
}.feng5 li:nth-child(2){
background:url(image/20.jpeg);
background-size:cover;
}.feng5 li:nth-child(3){
background:url(image/21.jpeg);
background-size:cover;
}.feng5 li:nth-child(4){
background:url(image/22.jpeg);
background-size:cover;
}.feng5 li:nth-child(5){
background:url(image/23.jpeg);
background-size:cover;
}
.tui{
position:absolute;
top:420px;
left:32%;
font-size:26px;
}
.gen{
position:absolute;
top:420px;
left:88%;
font-size:20px;
}
