/* CSS Document */
*{
margin:0;
padding:0;
}
div,a,li,ul,img{
border:0;
list-style:none;
} 
div{
flex:block;
}
a{
text-decoration:none;
outline:none;}
.contain{
background: linear-gradient(200deg,#e3c5eb,#a9c1ed);
}
.main{

height:70px;
margin:0 0;
overflow:hidden;
position:relative;
}
.title{
width:134px;
height:70px;
float:left;
padding-right:10px;
}
img{
opacity:90%;
}
.title a{
display:inline-block;
}
.content{
height:70px;
float:left;
}
.content li{
height:70px;
float:left;
margin-right:20px;
}
.content li{
font-size:14px;
display:inline-block;
line-height:17px;
vertical-align:top;
}
.content li a{
height:22px;
line-height:70px;
padding:26px 17px;
}
.content li.active{

}
.content li a:hover{
background: linear-gradient(-200deg,#a9c1ed,#e3c5eb);
}
.header{
float:right;
position:relative;

}
.nav{
height:70px;

}
.nav li{
border-right:1px solid rgba(255,255,255,0.2);
float:left;
height:14px;
padding:9px 14px;
font-size:12px;
}
a{
direction:none;
cursor:pointer;
}
.skin a{
padding-left:22px;
position:relative;
}
.nav a{
height:14px;
line-height:14px;

}
.skin .img{
background:url("http://p7.qhimg.com/d/inn/774669ac/t01bc32feb0bbb5c4e0.png") no-repeat;
left:0;
position:absolute;
background-position:0 -270px;
height:15px;
top:-1px;
width:16px;
}
.nav a:hover{
text-decoration:underline;
}
.log{
position:relative;
padding-left:31px;

}
.image{
border-radius:18px;
box-shadow:0 1px 5px rgba(87,87,87,0.5);
height:20px;
left:10px;
position:relative;
top:-4px;
width:20px;
}
.a1{
margin-left:20px;
top:-8px;

position:relative;
}

